#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}
#navigation-container:hover {
  width: 15%;
  font-size: large;
}
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}
